################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanBase.Core.Infrastructure/bin
/.vs
/CleanBase.Core.Infrastructure/obj
